In [1]:
import numpy as np

def cosSim(doc, query):
    return float((np.dot(doc, query) / (np.linalg.norm(doc) * np.linalg.norm(query))))

docs = np.array([(1, 1, 0, 1, 0, 1), (1, 1, 1, 0, 1, 0), (1, 1, 0, 1, 0, 0)])
query = np.array([1, 1, 0, 0, 1, 0])

for i in range(len(docs)):
    print('Docs{} & Query: {}'.format(i+1, cosSim(docs[i], query)))

Docs1 & Query: 0.5773502691896258
Docs2 & Query: 0.8660254037844387
Docs3 & Query: 0.6666666666666667

In [2]:
import pandas as pd
import numpy as np

def MaxTotal(df):
    temp = 0
    idx = 0
    for i in range(len(df.index)):
        if (df['total price'][i] >= temp):
            temp = df['total price'][i]
            idx = i

    return df.loc[[df.index[idx]]]
        

df = pd.DataFrame(np.array([(1000, 25), (280, 120), (900, 30)]), index = ['store1', 'store2', 'store3'], columns = ['unit price', 'number'])
df['total price'] = df['unit price'] * df['number']

print(df)

MaxTotal(df)

        unit price  number  total price
store1        1000      25        25000
store2         280     120        33600
store3         900      30        27000

        unit price  number  total price
store2         280     120        33600